<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dust_API_KEY</key>
	<string>63db87964ac3d34260e726808cb6f55f1719b40d</string>
	<key>Weather_API_KEY</key>
	<string>ca902e0c4bf6fc36f4b3224b94f09567</string>
</dict>
</plist>
